// bower:scss
// endbower

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
 
body {
    // background: #f66b6b;
    // background: #ffffff;
    background: url(../images/ps_neutral.png);
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
    margin-top: 10px;
}

input {
    width: 100%;
    border: none;
    color: #00c2ff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    background: 0 0;

    &:focus {
    outline: 0;
  }
}

.top-line {
    background-color: #ff008a;
    height: 5px;
    width: 100%;
}

// via http://css-tricks.com/snippets/css/style-placeholder-text/

::-webkit-input-placeholder {
   color: #666666;
   font-family: 'Raleway', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666666;
   font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666666;
   font-family: 'Raleway', sans-serif;  
}

:-ms-input-placeholder {  
   color: #666666;
   font-family: 'Raleway', sans-serif; 
}

.container {
    position: relative;
    width: 60%;
    background-color: #fafafa;
    padding: 20px 20px 30px 20px;
    margin: 50px auto 100px;
    border: 3px solid #00c2ff;
}

.title {
    width: 60%;
    margin: 0 auto;
    text-align: right;
    color: #00c2ff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-top: 50px;
    display: block;
}

.add-new-input {
    width: 60%;
    height: 75px;
    padding: 6px 6px 6px 20px;
    font-size: 20px;
    border: none;
    border-bottom: 1px dotted #00c2ff;
    display: inline-block;
}

.name-column {
    position: relative;
    width: 60%;
}

.name {
    position: relative;
    width: 100%;
    color: #ff008a;
    font-size: 18px;
    padding: 6px 6px 6px 20px;
    border: none;
    border-bottom: 1px dotted #00c2ff;
    display: inline-block;
}
 
.add-todo-button {
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: #666666;
    margin-left: 37px;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: #ff008a;    
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;

    &:focus {
    outline: 0;
  }
}


.edit-button {
    position: absolute;
    right: -83px;
    bottom: 7px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: #00c2ff;    
    }
}
 
.save-button {
    position: absolute;
    right: -83px;
    bottom: 7px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: #00c2ff;    
    }
}

.delete-button {
    position: absolute;
    right: -164px;
    bottom: 7px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
    color: #666666;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: #ff008a;    
    }
}
