// bower:scss
// endbower

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
 
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    position: relative;
    width: 960px;
    margin: 100px auto;
    border-top: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
}

.left-column {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 94px;
}

.middle-column {
    position: absolute;
    width: 600px;
    height: 40px;
    top: 10px;
    left: 179px;
}

.right-column {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 129px;
}

input {
    width: 600px;
    height: 75px;
    padding: 6px 6px 6px 20px;
    font-size: 20px;
    border-top-style: none;
    border: 1px solid #bdc3c7;
    display: inline-block;
}

li {
    list-style: none;
    margin-top: 10px;
    margin-left: 144px;
}

.name-column {
    position: relative;
    width: 770px;
    top: 89px;
    
    margin: 0 auto;
}

.name {
    position: relative;
    width: 600px;
    background-color: #ffffff;
    font-size: 16px;
    left: 85px;
    margin: 5px auto;
    padding: 6px 6px 6px 20px;
    border-top-style: none;
    border: 1px solid #bdc3c7;
    display: inline-block;
 
    input {
        padding: 10px;
        width: 560px;
        font-size: 16px;
    }
}
 
.toggle-button {
    width: 75px;
    height: 75px;
    padding: 10px 25px;
    font-size: 22px;
    color: #bdc3c7;
    cursor: pointer;
    background: white;
    border: 1px solid #bdc3c7;

    &:hover {
        color: #f1c40f;    
    }
}

.add-todo-button {
    width: 75px;
    height: 75px;
    text-align: center;
    // padding: 10px 25px;
    font-size: 22px;
    color: #bdc3c7;
    cursor: pointer;
    background: white;
    border: 1px solid #bdc3c7;

    &:hover {
        color: #2ecc71;    
    }
}

.done-button {
    width: 75px;
    height: 30px;
    font-size: 24px;
    color: #bdc3c7;
    padding: 10px 25px;
    cursor: pointer;

    &:hover {
        color: #2ecc71;    
    }
}
 
.save-button {
    float: left;
    width: 75px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: #bdc3c7;
    margin-left: -62px;
    margin-right: 9px;
    padding: 10px 25px;
    cursor: pointer;
}
 
.delete-button {
    // float: right;
    position: absolute;
    width: 75px;
    height: 30px;
    margin-top: 5px;
    padding-top: 1px;
    text-align: center;
    font-size: 20px;
    color: #bdc3c7;
    // margin-right: 420px;
    // background: white;
    // border: 1px solid #bdc3c7;
    // vertical-align: middle;
    // right: 255px;
    right: 0;
    // padding: 10px 25px;
    display: inline-block;
    cursor: pointer;
    
    &:hover {
        color: #c0392b;    
    }
}
 
// .edit-button {
//     width: 40px;
//     margin: 0 8px 0 293px;
//     color: purple;
//     font-size: 20px;

//     &:hover {
//         color: green;
//         font-size: 24px;
//     }
// }