// bower:scss
// endbower

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }
 
body {
    background: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fafafa;
}

li {
    list-style: none;
    margin-top: 10px;
}

input {
    border: none;
    color: red;
    font-size: 20px;
    margin: 0;
    background: 0 0;

    &:focus {
    outline: 0;
  }
}

// via http://css-tricks.com/snippets/css/style-placeholder-text/

::-webkit-input-placeholder {
   color: #fafafa;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fafafa;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fafafa;  
}

:-ms-input-placeholder {  
   color: #fafafa;  
}

.container {
    position: relative;
    width: 60%;
    padding: 20px;
    margin: 50px auto 60px;
    border: 3px solid #333;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.add-new-input {
    width: 60%;
    height: 75px;
    padding: 6px 6px 6px 20px;
    font-size: 20px;
    border: none;
    // border-bottom: 3px solid #333;
    display: inline-block;
}

.name-column {
    position: relative;
    width: 60%;
}

.name {
    position: relative;
    width: 100%;
    color: red;
    background-color: #222;
    font-size: 20px;
    // margin: 5px auto;
    padding: 6px 6px 6px 20px;
    border: none;
    border-bottom: 3px solid #333;
    display: inline-block;
}
 
.add-todo-button {
    text-align: center;
    font-size: 20px;
    color: #bdc3c7;
    margin-left: 32px;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: #2ecc71;    
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;

    &:focus {
    outline: 0;
  }
}


.edit-button {
    position: absolute;
    right: -83px;
    bottom: 7px;
    text-align: center;
    font-size: 20px;
    color: #bdc3c7;
    cursor: pointer;
    background: none;
    border: none;
}
 
.save-button {
    position: absolute;
    right: -83px;
    bottom: 7px;
    text-align: center;
    font-size: 20px;
    color: #bdc3c7;
    cursor: pointer;
    background: none;
    border: none;
}

.delete-button {
    position: absolute;
    right: -180px;
    bottom: 7px;
    text-align: center;
    font-size: 20px;
    color: #bdc3c7;
    cursor: pointer;
    background: none;
    border: none;
}